<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="margin-20">
          <h4>Fill Data for Charts</h4>
        </div>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Name is required (minimum 5 characters).
              </small>
          </div>
          
          <div formArrayName="xaxis">
            <div *ngFor="let xaxisitem of myForm.controls.xaxis.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>Xaxis</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.xaxis.controls.length > 1" (click)="removeitem(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <div class="form-group col-xs-6">
                  <label>Item</label>
                  <input type="text" class="form-control" formControlName="items">
                  <small [hidden]="myForm.controls.xaxis.controls[i].controls.items.valid" class="text-danger">
                      
                  </small>
                </div>
               
              </div>
            </div>
          </div>
  
          <div class="margin-20">
            <a (click)="additem()" style="cursor: default">
              Add another item +
            </a>
          </div>
  
          <div class="margin-20">
            <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
          </div>
          <div class="clearfix"></div>
  
          <div class="margin-20">
            <div>myForm details:-</div>
            <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
            <pre>form value: <br>{{myForm.value | json}}</pre>
          </div>
        </form>
      </div>
    </div>
  </div>